/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #E1C9A9;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #452F22;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #452F22;
}

.icons {
    margin-left: 10px;
    height: 100px;
    display: inline-block;
}

.links {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    margin-left: 16px;

}

a {
    text-decoration: none;
    text-shadow: black 2px 1px 2px;
    font-size: 20px;
    color: black;
    margin-left: 15px;
}

h2 {
    background-color: gray;
    color: rgb(136, 255, 81);
    text-shadow: black 3px 3px 3px;
    text-align: center;
    height: 30px;

}

.icons {
    margin-top: 10px;
}